---
apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: samisk-samtale-bestilling
  namespace: navno
  labels:
    team: navno
spec:
  image: {{image}}
  port: 3006
  liveness:
    path: /person/bestilling-av-samisk-samtale/api/internal/isAlive
    initialDelay: 10
  readiness:
    path: /person/bestilling-av-samisk-samtale/api/internal/isReady
    initialDelay: 10
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: nodejs
  ingresses:
    - {{app_origin}}/person/bestilling-av-samisk-samtale
  env:
    - name: NPM_CONFIG_CACHE
      value: /tmp/npm-cache
  accessPolicy:
    outbound:
      rules:
        - application: tilbakemeldingsmottak-api
          namespace: teamserviceklage
        - application: nav-dekoratoren
          namespace: personbruker
  azure:
    application:
      enabled: true
  replicas:
    min: 1
    max: 1
  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 192Mi
