.panel {
    width: 100%;
    padding: 2rem;
    background-color: var(--a-gray-100);
}
.fields {
    display: grid;
    gap: var(--a-spacing-6);
}

.submitInfo {
    width: 100%;
    padding: 2rem;
}

.button {
    margin-top: 1rem;
}

.error {
    margin-top: 1.5rem;
}
