.panel {
    width: 100%;
    padding: 2rem;
    background-color: var(--ax-bg-neutral-soft);
}
.fields {
    display: grid;
    gap: var(--ax-space-24);
}

.submitInfo {
    width: 100%;
    padding: 2rem;
}

.button {
    margin-top: 1rem;
}

.error {
    margin-top: 1.5rem;
}
