name: Deploy to dev
on: workflow_dispatch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: ./.github/actions/build-and-deploy
        with:
          environment: dev
          app_origin: 'https://www.ansatt.dev.nav.no'
        env:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
          NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
